.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.form {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.dietList {
    
}

.dietContainer {
    display: flex;
    justify-content: left;
}

/* .checkbox {
    display: flex;
    flex-direction: row;
} */