.container {
    display: flex;
    /* overflow: hidden; */

}

.sideBar {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px 1px rgba(110, 88, 68, 0.996);
    background-color: rgba(219, 175, 137, 0.996);
    gap: 10px;
    height: 90.6vh;
    bottom: 8px;
    width: 15%;
    padding-top: 25px;
    z-index: 2;
    position: relative;
    bottom: 3px;
}

.gridContainer {
    width: 90vw;
    height: 90vh;
    margin-top: 10px;
}

